<div class="content">
  <div class="title">Engellenenler</div>
</div>
<div class="row">
  <hr>
    <div class="col-12 col-md-6 col-lg-3" *ngFor="let person of (personService.blockeds | sortName)" >
      <mat-card class="card-item" >
        <mat-card-header  >
          <mat-card-title (click)="openUpdateForm(person)">{{person.firstName}} {{person.lastName}}</mat-card-title>
          <mat-card-subtitle class="num" (click)="openUpdateForm(person)" >{{person.phoneNumber}}</mat-card-subtitle>
          <div class="btn-group">
            <div class="block">
              <button (click)="blockPerson(person)" class="btn btn-outline-secondary btn-default ">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                </svg>
              </button>
            </div>
            <div class="delete">
              <button (click)="delete(person)" class="btn btn-outline-secondary btn-default">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
              </button>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content (click)="openUpdateForm(person)">
          <ul >
            <li>{{person.mail || '-'}}</li>
            <li>{{person.description || '-'}}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>